[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
xlrd = "*"
scikit-image = "*"
tensorflow = "==2.3.1"
opencv-python = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
