[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
xlrd = "*"
scikit-image = "*"
scikit-learn = "*"
tensorflow = "==2.0.0"
input-data = "*"

[requires]
python_version = "3.7"
